@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

body {
    background: #dfe9f5;
}

.container {
    display: flex;
}

nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;    
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

nav .bx {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

.active {
    background: #eee;
}

.logout {
    position: absolute;
    bottom: 0;
}

.main {
    display: inline-block;
    position: absolute;
    margin-left: 20px;
}

.show-popup {
    padding: 18px 40px;
    background: #eee;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
}


.popup-container .popup-box {
    width: 500px;
    background: #f2f2f2;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.popup-box h1 {
    color: #333;
    line-height: 1;
}

.popup-box p {
    color: #333;
    margin: 12px 0 20px;
}

.popup-box .close-btn {
    width: 100%;
    height: 45px;
    background: #6e78ff;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    top: 24px;
    left: 28px;
    width: 280px;
    
}
  
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: relative;
    top: 24px;
    left: 28px;
    width: 1500px;
    height: 800px;
    z-index: 9;
}
  
/* Add styles to the form container */
.form-container {
    max-width: inherit;
    height: inherit;
    padding: 10px;
    background-color: white;
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
  
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.fars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tst2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px
    
    ;
}

.tst2 div {
    flex: 1;
}

.tst2 h1 {
    text-align: left;
}

.tst2 h2 {
    text-align: right;
}

.rtl {
    direction: rtl;
    text-align: center;
}

.rtl input {
    direction: rtl;
    text-align: right;
}

label {
    font-size: 24px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; /* برای ایجاد فاصله بین ستون‌ها */
    direction: rtl;
}

.column {
    flex: 0 0 20%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: right;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;

}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

    /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}